In [ ]:
!pip install facebook-scraper

In [4]:
# Import necessary libraries
from facebook_scraper import get_profile
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
# Initialize dataframe to scrape Facebook post
pro_df_full = pd.DataFrame(columns = [])

In [8]:
profile = get_profile("Shaon.ComputerGeek", cookies="cookie.txt")

/usr/local/lib/python3.7/dist-packages/facebook_scraper/facebook_scraper.py:730: UserWarning: Facebook served mbasic/noscript content unexpectedly on https://m.facebook.com/timeline/app_collection/?collection_token=100006908916880%3A103382489711013%3A33&_rdr
  f"Facebook served mbasic/noscript content unexpectedly on {response.url}"

In [41]:
profile

{'About': 'Aspiring Data Scientist\nAI, Machine Learning learner\nInformation and Communication Engineer',
 'Basic info': 'Male\nGender\nEnglish language\nLanguages',
 'Contact info': '/Shaon.ComputerGeek\nFacebook\nShaon.ComputerGeek\nInstagram\nShaon2221\nTwitter\nShaon2221\nGitHub\nShaonComputerGeek\nLinkedIn',
 'Family members': 'Shuvajit Mondal\nBrother\nসৌরভ বিশ্বাস\nBrother\nProtoyni Islam Piu\nSister\nমমো শিকদার\nSister\nSusmita Shikder\nSister\nLipika Mondal\nMother\nShankar Kumar Sikder\nFather',
 'Favorite quotes': '"Your deeds are your monuments."\n-R.J. Palacio\n\n"Success is No Accident . It is Hard Work , Perseverance , Learning, Studying , Sacrifice and most of all, Love of What you are Doing ."\n- Pele\n\n“When given the choice between being right and being kind, choose kind.”\n-Dr. Wayne Dyer\n\n"Everyone in the world should get a standing ovation at least once in their life because we all overcome the world."\n-Auggie',
 'Follower_count': 1241,
 'Following_count': None,
 'Friend_count': None,
 'Life events': '2020\nLeft Job at East West University Telecommunications Club\n2019\nLeft Job at East West University Robotics Club\n2018\nStarted New Job at East West University Robotics Club\n2016\nStarted New Job at East West University Telecommunications Club\n2015\nMoved to Dhaka, Bangladesh',
 'Name': 'Shaon Sikder',
 'Name Pronunciation': 'Shaown Shikdar',
 'Other names': {'Other': 'シャノン'},
 'Places lived': [{'link': '/100006908916880/posts/1826074327632847/',
   'text': 'Dhaka, Bangladesh',
   'type': 'Current City'},
  {'link': '/profile.php?id=115636228449932',
   'text': 'Barisal',
   'type': 'Hometown'}],
 'Relationship': 'Single',
 'Work': 'Adspl Tech\nArtificial Intelligence Engineer\nGwalior, Rajasthan, India\nLong way to go⏩\nAcme AI\nManagement Trainee\nJanuary 2021 - June 2021\nEast West University Robotics Club\nGeneral Member\nSeptember 2018 - September 2019\nDhaka, Bangladesh\nEast West University Telecommunications Club\nVolunteer\nJune 2016 - June 2020\nDhaka, Bangladesh',
 'cover_photo': 'https://scontent-iad3-2.xx.fbcdn.net/v/t31.18172-8/fr/cp0/e15/q65/19702795_1911955782378034_1963360683226968798_o.jpg?_nc_cat=110&ccb=1-5&_nc_sid=dd9801&efg=eyJpIjoidCJ9&_nc_ohc=BICIagRGiZYAX8Y1YgO&_nc_ht=scontent-iad3-2.xx&oh=00_AT_5zE3cfXkc-beFkimEG01rhOjC5bEPLf-LbMVifWuUcA&oe=62128DDB&manual_redirect=1',
 'cover_photo_text': "Cover Photo: Shaon Sikder's photo.",
 'id': '100006908916880',
 'profile_picture': None}

In [36]:
fb_pro_df = pd.DataFrame.from_dict(profile, orient='index')
fb_pro_df = fb_pro_df.transpose()
pro_df_full = post_df_full.append(fb_pro_df)

In [37]:
pro_df_full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Friend_count        0 non-null      object
 1   Follower_count      1 non-null      object
 2   Following_count     0 non-null      object
 3   cover_photo_text    1 non-null      object
 4   cover_photo         1 non-null      object
 5   profile_picture     0 non-null      object
 6   id                  1 non-null      object
 7   Name                1 non-null      object
 8   Work                1 non-null      object
 9   Places lived        1 non-null      object
 10  Contact info        1 non-null      object
 11  Basic info          1 non-null      object
 12  Name Pronunciation  1 non-null      object
 13  Other names         1 non-null      object
 14  Relationship        1 non-null      object
 15  Family members      1 non-null      object
 16  About               1 non-null      object
 17  Life events         1 non-null      object
 18  Favorite quotes     1 non-null      object
dtypes: object(19)
memory usage: 280.0+ bytes

In [38]:
pro_df_full.head(50)

  Friend_count  ...                                    Favorite quotes
0         None  ...  "Your deeds are your monuments."\n-R.J. Palaci...

[1 rows x 19 columns]

In [39]:
pro_df_full.to_csv(r'fb_pro_scrapped_data.csv')